@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
}

.movile-design {
  height: 100vh;
  font-size: 1.25rem;
  line-height: 1.75rem;
  padding: 7rem;
  position: absolute;
  width: 100vh;
}













